
#page-header-image {
    max-height: 30vh;
}

.responsive { 
    height: auto;
    max-width: 100%;
    display: block;
    // mx-auto bootstrap class
    margin-left: auto !important;
    margin-right: auto !important;
}