$BG_COLOR: #efc6b4;
$FONT_COLOR: #fffbf6;

@font-face {
    font-family: 'Silverberry Script';
    src: url(../../../assets/Silverberry-Regular.ttf);
}

#mainNav {
    background-color: $BG_COLOR;
    
    .navbar-brand, .navbar-brand:hover {
        text-decoration: none;
        color: $FONT_COLOR;
        font-size: 67px;
        font-family: 'Silverberry Script';
        margin: -20px auto -30px;
    }

}

#navbar-section-list .nav-link {
    color: $FONT_COLOR;
    font-size: 20px;
}

.active {
    background-color: $FONT_COLOR;
    color: $BG_COLOR;
}

.search {
    input.form-control {
        border: solid $FONT_COLOR 1px;
        background-color: $FONT_COLOR;
        text-align: right;
        border-radius: 3em;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(112, 128, 144, 0.25);
        }
    }
}

#navbar-search-button {

    outline: none;
    box-shadow: none;

    .fa-search {
        color: $FONT_COLOR;
        font-size: 36px;
        max-height: 36.8px;
    }
    
}

.social-square {

    i {
        font-size: 36px;
        width: 36px;
        color: $FONT_COLOR;
    }
}