$BG_COLOR_ACTIVE: #045676; // #7386D5;
$BG_COLOR_BASE: #05668D; // #6D7FCC;

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#collapse-button {
    border: none;
    background: #ffffff;
    color: #000000;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transition-delay: 0.2s;
    transform-origin: top right;

    &.active { 
        background: $BG_COLOR_BASE;
        color: #ffffff;
    }
    
    &:focus {
        outline: none;
        box-shadow: none;
    }

}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: $BG_COLOR_BASE;
    color: #fff;
    transition: all .5s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;

    &.active {
        margin-left: -300px;
    }

    .sidebar-header {
        padding: 20px;
        background: $BG_COLOR_BASE;
    }

    ul.components {
        padding: 20px 0;
    }
    
    ul {
                         
        p {
            color: #fff;
            padding: 10px;
        }

        li.active a {
            background: $BG_COLOR_ACTIVE;                
        }
        
        li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            color: #fff;

            &:hover {                  
                color: $BG_COLOR_BASE;
                background: #fff;
                text-decoration: none;
            }

            i {
                min-width: 20px;
                text-align: center;
            }
        }
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $BG_COLOR_ACTIVE;
}

a {

    &[aria-expanded="true"] {
        color: #fff;
        background: $BG_COLOR_ACTIVE;
    }
    
}

#homeDropdown, #blogDropdown {

    span {
        float: left;
    }

    &.collapsed i {
        transform: scale(1.25) rotate(0turn);
    }

    i {
        float: right;
        transform:  scale(1.25) rotate(-0.25turn);
    }
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

}
