@use 'css/_base';

#navbar-logo {
    height: 36px;
    width: 310px;   
}

.navbar {
    background-color: $BG_COLOR;

    .navbar-brand {
        text-decoration: none;
        color: black;
        font-size: 36px;
        font-weight: bolder;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.search {
    input {
        height: 100%;
        border: none;
        background-color: $BG_COLOR;
    }
}

.fa-search {
    color: $FONT_COLOR;
    font-size: 36px;
}

#navbar-section-list .nav-link {
    color: black;
    font-weight: lighter;
}

.social-square {

    i {
        font-size: 36px;
        width: 36px;
        color: $FONT_COLOR;
    }
}