$BG_COLOR_ACTIVE: #93628C;  // #045676; // #7386D5;
$BG_COLOR_BASE: #B48EAE; // #05668D; // #6D7FCC;

#sidebar-wrapper {
    min-width: 326px;
    max-width: 326px;
    transition: all 0.5s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;

    &.active {
        margin-left: -300px;
    }
}

#collapse-button {
    border: none;
    background: #ffffff;
    color: #000000;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transition-delay: 0.2s;

    &.active { 
        background: $BG_COLOR_ACTIVE;
        color: #ffffff;
    }
    
    // remove bootstrap button styling
    &:focus {
        outline: none;
        box-shadow: none;
    }

}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: $BG_COLOR_BASE;
    color: #fff;

    .sidebar-header {
        font-family: "Silverberry Script";
        font-size: 67px;
        text-align: center;
        padding: 20px;
    }

    ul.components {
        padding: 20px 0;
    }
    
    ul {
                         
        p {
            color: #fff;
            padding: 10px;
        }

        li.active a {
            background: $BG_COLOR_ACTIVE;                
        }
        
        li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            color: #fff;

            &:hover {                  
                color: $BG_COLOR_BASE;
                background: #fff;
                text-decoration: none;
            }

            i {
                min-width: 20px;
                text-align: center;
            }
        }
    }
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

a {

    &[aria-expanded="true"] {
        color: #fff;
    }
    
}

#homeDropdown, #blogDropdown, #imageDropdown {

    span {
        float: left;
    }

    &.collapsed i {
        transform: scale(1.25) rotate(0turn);
    }

    i {
        float: right;
        transform:  scale(1.25) rotate(-0.25turn);
    }
}


// Automatically collapse the sidebar on small screens
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -300px;
    }
    #sidebar-wrapper.active {
        margin-left: 0px;
    }

}
